:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: beige;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  background: white;
  color: #111;
  height: 100%;
}

.page-content {
  padding: 24px;
}

.page-number {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  opacity: 0.4;
}