:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: beige;
  overflow: hidden;
  touch-action: manipulation;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.book-controls button {
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}

.page {
  height: 100%;
  background: white;
  color: #111;
}

.page-content {
  padding: 24px;
}

.page-number {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
  opacity: 0.4;
}